/* VARIABLES 
----------------------------------------------------- */
:root {
  /* main color */
  --main: #a38d65;
  --darker-main: #9e6b0d;
  --lighter-main: #c7b28a;

  /* secondary color */
  --secondary: #ad2e2e;
  --lighter-secondary: #db4d4d;
  --darker-secondary: #832424;

  /* special uses */
  --body: #4b4b4b;
  --background: #dadada;

  /* other colors */
  --color-1: #38023b;
  --color-2: #a288e3;
  --color-3: #ff6663;
  --color-4: #52d1dc;
  --color-5: #1da4b1;
  --color-6: #f15025;
  --color-7: #8e8dbe;
  --color-8: #cccccc;
  --color-9: #f2d0a4;
  --color-10: #e7e7e7;
  --color-11: #202020;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* COLORS & BACKGROUNDS
----------------------------------------------------- */
body {
  color: var(--body);
}

a {
  color: var(--main);
}

header {
  background-color: var(--background);
}

button {
  background: var(--secondary);
  color: var(--color-10);
}

.section-one {
  background: var(--background);
}

.section-one i {
  color: var(--color-2);
}

.video-container {
  background-color: var(--color-11);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* PSEUDO CLASSES
----------------------------------------------------- */
a:hover {
  color: var(--darker-main);
  border-bottom: 1px solid var(--darker-main);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* BORDERS
----------------------------------------------------- */
.input-box {
  border: 10px solid var(--lighter-main);
}

input {
  border: 1px solid var(--color-8);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
