/* BASIC RESET
----------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* HEADER
----------------------------------------------------- */
header {
  padding: 30px 0 0 0;
  min-height: 205px;
}

h1 {
  padding-bottom: 20px;
}

nav {
  padding: 15px 5px;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  padding-bottom: 4px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* FORM
----------------------------------------------------- */
.form-container {
  min-height: 45vh;
  display: flex;
  align-items: center;
}

form {
  margin: 0 auto;
}

h2 {
  padding-bottom: 20px;
}

.input-box {
  padding: 20px 0;
  width: 300px;
  margin: 15px auto;
  border-radius: 15px;
}

form p {
  margin-bottom: 20px;
}

form input {
  margin: 15px 0;
  padding: 8px 5px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

button {
  padding: 10px 25px;
  border: transparent;
  border-radius: 4px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* VIDEO
----------------------------------------------------- */
.video-container {
  min-height: 35vh;
  display: flex;
  align-items: center;
}

video {
  height: 100%;
  max-width: 100%;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* SECTION ONE
----------------------------------------------------- */
.section-one-container {
  min-height: 100vh;
}

.feature-box {
  width: 95%;
  padding-left: 10px;
  margin-top: 9vh;
}

.feature-box * {
  padding-bottom: 5px;
}

/* SECTION TWO
----------------------------------------------------- */
.section-two-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.section-two {
  padding: 50px 20px;
}

.section-two ul {
  padding: 20px 20px 0 20px;
}

h4 {
  padding-bottom: 20px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* SECTION THREE
----------------------------------------------------- */
.section-three {
  width: 80%;
  margin: 100px auto;
}

.pricing-box {
  margin: 20px auto;
  border-radius: 24px;
  padding: 20px;
  transition: 0.5s;
  min-height: 500px;
}

.pricing-box-title {
  padding: 10px 0 20px 0;
}

.pricing-box-title i {
  padding-bottom: 10px;
}

.subscription-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  min-height: 350px;
  padding: 20px;
}

.prices {
  padding: 15px;
  margin: 0 20px;
}

.yearly {
  display: flex;
  justify-content: center;
}

.yearly p {
  padding: 0 5px;
}

.benefits-title {
  padding: 10px;
}

.benefits p {
  padding-bottom: 10px;
}

.prices-btn {
  margin-bottom: 5px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
