/* FONT FAMILIES FORM GOOGLE FONTS AVAILABLE :
font-family: 'Comfortaa', cursive;
font-family: 'Courgette', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Dosis', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/* FONT FAMILIES : */
body {
  font-family: "Comfortaa", cursive;
}

h2 {
  font-family: "Dosis", sans-serif;
}

h3 {
  font-family: "Quicksand", sans-serif;
}

.pricing {
  font-family: "Montserrat", sans-serif;
}

.benefits-title,
.pricing-box-title {
  font-family: "Crimson Text", serif;
}

/* FONT SIZES : */
h2 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.3rem;
}

.section-one i {
  font-size: 3rem;
}

.pricing-box-title {
  font-size: 1.7rem;
}

.benefits-title {
  font-size: 1.5rem;
}

/* OTHER TEXT FEATURES : */
a {
  text-decoration: none;
}

header {
  text-align: center;
  font-weight: bold;
}

form {
  text-align: center;
}

body {
  line-height: 1.5rem;
}

.pricing-box {
  text-align: center;
}

.benefits-title {
  font-weight: 900;
}

.line-through {
  text-decoration: line-through;
}
