/* FONT FAMILIES FORM GOOGLE FONTS AVAILABLE :
font-family: 'Comfortaa', cursive;
font-family: 'Courgette', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Dosis', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/* FONT FAMILIES : */
body {
  font-family: "Comfortaa", cursive;
}

h2 {
  font-family: "Dosis", sans-serif;
}

h3 {
  font-family: "Quicksand", sans-serif;
}

/* TEXT FEATURES : */
a {
  text-decoration: none;
}

header {
  text-align: center;
  font-weight: bold;
}

form {
  text-align: center;
}
